<h1>Meu Projeto</h1>
<p>Autenticado : {{autenticate}}</p>

<ul>
    {{#each usuarios}}
        <li>
            {{this}}
        </li>
    {{/each}}
</ul>

{{#if autenticate}}
    <p>
        Você autemticou pode, <a href="info">ENTRAR</a>
    </p>
    
{{/if}}