<a href="/info">VOLTAR</a>

<h1>Suas matérias</h1>

{{#with materia}}
    <p>Matemática: {{Matematica}}</p>
    <p>Português: {{Portugues}}</p>
    <p>Programação: {{Programacao}}</p>
    <p>Número de Comentários: <strong>{{Comentarios}}</strong></p>
{{/with}}
